*{ font-family: 'Arial'; }

.card {
    width: 53px;
    height: 32px;
    margin-left: 5px;;
    display: inline-block;
    vertical-align: middle;
    background: url('cards_small.png') no-repeat 53px 0px;
}

.card.visa              { background-position:    0px 0px; }
.card.mastercard        { background-position:  -53px 0px; }
.card.maestro           { background-position: -106px 0px; }
.card.american-express  { background-position: -159px 0px; }
.card.discover          { background-position: -212px 0px; }
.card.jcb               { background-position: -265px 0px; }
.card.diners-club       { background-position: -318px 0px; }

.credit { margin-top:30px; font: 90% italic; }